<div id="contenedor-principal">
  <h3>PROYECTOS</h3>
  
  <div class="container">
    
    <div class="card">
        <a href="https://www.facebook.com/" >
        <h4>Naturaleza</h4>

        <DIv class="contenedor-foto">

            <img
        src="../../../assets/resource porfolio/logos de lenguajes/logo angular.png"
      />

        </DIv>
      
      
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi
        unde?
      </p>
    
      <p class="periodo">PERIODO</p>

    </a>

      
    </div>

    <div class="container">
    
        <div class="card">
            <a href="https://www.facebook.com/" >
            <h4>Naturaleza</h4>
    
            <DIv class="contenedor-foto">
    
                <img
            src="../../../assets/resource porfolio/logos de lenguajes/logo angular.png"
          />
    
            </DIv>
          
          
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi
            unde?
          </p>
        
          <p class="periodo">PERIODO</p>
    
        </a>
    
          
        </div>

        <div class="container">
    
            <div class="card">
                <a href="https://www.facebook.com/" >
                <h4>Naturaleza</h4>
        
                <DIv class="contenedor-foto">
        
                    <img
                src="../../../assets/resource porfolio/logos de lenguajes/logo angular.png"
              />
        
                </DIv>
              
              
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi
                unde?
              </p>
            
              <p class="periodo">PERIODO</p>
        
            </a>
        
              
            </div>

</div>
