<div class="contenedorFoto">

    <div>
       
        <img src="../../../assets/resource porfolio/foto.png" id="foto">
    </div>
</div>


<div class="contenedor">
     
    <div class="piefoto">
        <b>{{persona.nombre}} {{persona.apellido}}</b>
        <p>Full Stack Developer JR </p>
        <p>Técnico en Informática</p>
        <p>Estudiante Analista de Sistemas</p>
    </div>

        <div class="descripcion">

            <div class="sobremi">
                <p class="textsobremi">SOBRE MI</p>
            </div>

            <p>"¡HOLA!, soy desarrollador web, técnico en informática y 
            amplio mis conocimientos como analista de sistemas"</p>
            
        </div>
    

</div>





