<div class="contenedor-principal">
<div class="contiene-foto">


    <div class="box">

        
        

        <img src="../../../assets/resource porfolio/foto.png" id="foto">
    

</div>


</div>
    
    
    
    <div class="contenedor">
         
            <div class="piefoto">
            <h1>{{persona.nombre}} {{persona.apellido}}</h1>
            

            <h2>Full Stack Developer JR </h2>
           

            
            
        </div>
    
            <div class="descripcion">
    
                <div class="sobremi">
                    <h3 class="textsobremi">SOBRE MI</h3>
                </div>
    
                <p>"¡HOLA!, soy desarrollador web, técnico en informática y 
                amplio mis conocimientos como analista de sistemas"</p>
                
            </div>
   
        
    
    </div>
    
    
    
    
    
    
</div>

