.box
{
    margin-top: 5px;
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    border-radius: 5px;
    overflow: hidden;
}


.box::after{

    content: "";
    position: absolute;
    background: #000;
    inset: 4px;

}
.box::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 140%;
    background: linear-gradient(
        #3333, #981914) ;
    animation:animate 20s linear infinite;
}

@keyframes animate
{
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(36deg);
    }
    20%{
        transform: rotate(72deg);
    }
    30%{
        transform: rotate(108deg);
    }
    40%{
        transform: rotate(144deg);
    }
    50%{
        transform: rotate(180deg);
    }
    60%{
        transform: rotate(216deg);
    }
    70%{
        transform: rotate(252deg);
    }
    80%{
        transform: rotate(288deg);
    }
    90%{
        transform: rotate(324deg);
    }
    100%{
        transform: rotate(360deg);
    }

}




img{
    z-index: 2;
    width:95%;
    height: 95%;
    border-radius: 5%;
}

.contenedor-principal
{
    height: 100vh;
   text-align: center;

}
.contiene-foto
{
    margin-top: 10px;
    display: flex;

    justify-content: space-evenly;
   
}
.contenedor
{
    text-align: center;
}

.sobremi
{
    margin-top:50px;
}

h3{
    border-radius: 50px 0px 50px 0px;
    text-align: center;
    display: inline-block;
    background-color: #981914;
}

p{
    margin-top: 50px;
    font-size: 25px;
}


.pencil
{
    width: 25px;
}
.btn-primary {
   
    margin: 50px;
    padding: 10px;
    background: #981914;
    border: none;
    color: white;
    font-size: 20px;
    /* pointer-events: none; */
    cursor: pointer;
  
  }

  .img-boton
  {
      width: 25px;
      height: 25px;
  }

.edit{
    border-radius: 10%;
    padding: 3px;
    display: flex;
    align-items: center;
    background-color: #77dd77;
    
}
b{
    color: black;
}



.cont-boton
{
   display: flex;
  justify-content: center;
}
h2
{
    margin-top: 20px;
}
*
{
    color: white;
}