

div{

    text-align: center;    
    background-color:#e8e8e7;
}




.social:hover{
    border-radius: 50%;
    box-shadow: 2px 1px 5px #981914;
}

.social{
 
    width:30px;
    margin-left: 5px;
}


