
<div >
   
   
    
        <div>
            
            <a href=""><img src="../../../assets/resource porfolio/Logos proyecto/facebook.png" class="social"></a> 
            <a href=""><img src="../../../assets/resource porfolio/Logos proyecto/instagram.png" class="social"></a>
            <a href=""><img src="../../../assets/resource porfolio/Logos proyecto/twitter.png" class="social"></a>
            <a href=""><img src="../../../assets/resource porfolio/Logos proyecto/linkedin.png" class="social"></a>
            <a href=""><img src="../../../assets/resource porfolio/Logos proyecto/github.png" class="social"></a> 
        </div>
    
    
   
 </div>
    