*
{
    color:black;
}


.contenedor-principal
{

    text-align: center;
    background-color: white;
    
}


#APlogo
{
    width:150px;
}


.social
{
margin-right: 5px;
    width:30px;
}

.contenedor{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn{

    color: white;
    background-color: #981914;
    border-radius: 10%;
    box-shadow: 0px 1px 5px #000;
    float: right;
    height: 30px;
    width: 60px;
}

.social:hover{
    border-radius: 50%;
    box-shadow: 2px 1px 5px #981914;
}



    

@media (max-width: 500px)
{

    .yo-programo
    {
        display: none;
    }

    .social{
        display: none;
    }

}
