<div class="contenedor-principal">
 
    <div class="contenedor">

    <div class="logo-ap">
        <img src="../../../assets/resource porfolio/Logos proyecto/APLogo.png" id="APlogo"/>
      </div>
  
      <div class="yo-programo"><b>#YoProgramo</b></div>
       
    
  
    <div class="sociales">
      <a href=""><img src="../../../assets/resource porfolio/Logos proyecto/facebook.png" class="social"/></a>
      <a href=""><img src="../../../assets/resource porfolio/Logos proyecto/instagram.png" class="social"/></a>
      <a href=""><img src="../../../assets/resource porfolio/Logos proyecto/twitter.png" class="social"/></a>
      <a href=""><img src="../../../assets/resource porfolio/Logos proyecto/linkedin.png" class="social"/></a>
      <a href="https://github.com/dtro-zombie"><img src="../../../assets/resource porfolio/Logos proyecto/github.png" class="social"/></a>
    <button type="button" class="btn" (click)="login()" *ngIf="!isLogged">LOGIN</button>
    <button type="button" class="btn" (click)="onLogOut()" *ngIf="isLogged">LOG OUT</button>
    </div>

  </div>



</div> 
