<div >
  <ul>
      <li>
          <img src="../../../assets/resource porfolio/Logos proyecto/APLogo.png" id="APlogo">
  
      </li>
      <li>
          <b>#YoProgramo</b>
      </li>
  
      <li><div><a href=""><img src="../../../assets/resource porfolio/Logos proyecto/facebook.png" class="social"></a> 
          <a href=""><img src="../../../assets/resource porfolio/Logos proyecto/instagram.png" class="social"></a>
          <a href=""><img src="../../../assets/resource porfolio/Logos proyecto/twitter.png" class="social"></a>
          <a href=""><img src="../../../assets/resource porfolio/Logos proyecto/linkedin.png" class="social"></a>
          <a href=""><img src="../../../assets/resource porfolio/Logos proyecto/github.png" class="social"></a> 
      </div></li>
  
  
  </ul>
  
  </div>