<div>

    <a href=""><img src="../../../assets/resource porfolio/Logos proyecto/linkedin.png" alt="" class="sociales"></a>
    <a href=""><img src="../../../assets/resource porfolio/Logos proyecto/facebook.png" alt=""class="sociales"></a>
    <a href=""><img src="../../../assets/resource porfolio/Logos proyecto/instagram.png" alt=""class="sociales"></a>
    <a href=""><img src="../../../assets/resource porfolio/Logos proyecto/twitter.png" alt=""class="sociales"></a>
    <a href=""><img src="../../../assets/resource porfolio/Logos proyecto/github.png" alt=""class="sociales"></a>
   

</div>