<div id="contenedor-primario">
            <div class="div-img"><img src="..//..//../assets/resource porfolio/Logos proyecto/lock.png" alt=""></div>
            


    <form class="login-form">
        
        <div class="div-contenedores"> <input type="email" class="login-username"  required="true" placeholder="Email" /></div>
        <div class="div-contenedores"><input type="password" class="login-password" required="true" placeholder="Password" /></div>
        
        <input type="submit" name="Login" value="Login" class="login-submit" />
    </form>

</div>

   
      




