<div id="contenedor-primario">
            <div class="div-img"><img src="..//..//../assets/resource porfolio/Logos proyecto/lock.png" alt=""></div>
            


    <form  #f="ngForm" (ngSubmit)="onLogin()" novalidate >
        
        <div class="div-contenedores"> <input type="email" name="nombreUsuario" id="nombreUsuario" class="login-username" [(ngModel)]="nombreUsuario" required="true" placeholder="Usuario" /></div>
        <div class="div-contenedores"><input type="password" name="password" id="password" class="login-password" [(ngModel)]="password" required="true" placeholder="Password" /></div>
        
        <input type="submit" name="Login" value="Login" class="login-submit" />
    </form>

</div>

   
      




