#contenedor-primario
{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    margin-top: 100px;
}

img{
    border-radius: 100%;
    box-shadow: 10px 1px 10px #3333;
}


img{
    width: 100px;
    height: 100px;
}

.div-img
{
    width: 100%;
}

.div-contenedores{
    width: 100%;
    
}

.login-username, .login-password {
 
    
    font-weight: bold;
    border-radius: 10px;
    margin: 1rem;
    padding: .5rem;
  
  
}





  .login-submit{
 
    background-color: #981914;
    border-radius: 10px;
   

    height: 30px;
    width: 60px;
font-size: 15px;
font-weight: bold;

  }
 
  .login-submit:active{
    transform: scale(.9);
  }



  *{
    color: black;
  }