
<section class="form-contact" *ngIf="hard">
  
    <div class="div-img"><img  class="img-carga" src="{{imagen[0]}}" ></div>
    <header>
      <span>

        
        <div class="btn-upload">

            
        
            <input type="file" accept=".bmp, .gif , .jpg, .tif, .png, .jpeg" name="pathimg"
             (change)="cargarImagen($event)" 
            id="urlimg">
            <label for="urlimg" class="labelInputFile"> <img src="../../../assets/resource porfolio/Logos proyecto/upload.png" alt="upload file"> </label>
    
        </div>
       
      </span>
    </header>

    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" class="contact">
      <label for="nombres">Nombre Hard o Skill</label>
      <input type="text" class="form-control" name="nombreHard" id="nombreHard" [(ngModel)]="hard.nombreHard" required>
    
    
      <label for="periodos">Porcentaje</label>
      <input type="text" class="form-control" name="porcentaje" id="porcentaje" [(ngModel)]="hard.porcentaje" required>
    
        
   
     <div> <button class="btn-primary" [disabled]="loading" (click)="subir()"  >{{(loading)? 'Eperando...': 'Actualizar Hard o Skill'}}</button></div>
     

    </form>

    
  </section>
