


<div id="contenedor-principal">

    <h3>HARD & SOFT SKILLS</h3>

    <div class="container">

        <circle-progress
    [space]="-10"
    [showTitle]="false"
    [showUnits]="false"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [imageSrc]="'../../../assets/resource porfolio/logos de lenguajes/nodejs.png'"
    [showSubtitle]="false"
    [outerStrokeGradient]="true"
    [percent]="50"
    [radius]="60"
    [outerStrokeWidth]="10"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="10"
    [outerStrokeColor]="'#b91817'"
    [outerStrokeGradientStopColor]="'#981914'"
    [innerStrokeColor]="'#333333'"
    [animation]="true"
    [animationDuration]="3000"
  ></circle-progress>
  <circle-progress
    [space]="-10"
    [showTitle]="false"
    [showUnits]="false"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [imageSrc]="'../../../assets/resource porfolio/logos de lenguajes/nodejs.png'"
    [showSubtitle]="false"
    [outerStrokeGradient]="true"
    [percent]="50"
    [radius]="60"
    [outerStrokeWidth]="10"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="10"
    [outerStrokeColor]="'#b91817'"
    [outerStrokeGradientStopColor]="'#981914'"
    [innerStrokeColor]="'#333333'"
    [animation]="true"
    [animationDuration]="3000"
  ></circle-progress>
  <circle-progress
    [space]="-10"
    [showTitle]="false"
    [showUnits]="false"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [imageSrc]="'../../../assets/resource porfolio/logos de lenguajes/nodejs.png'"
    [showSubtitle]="false"
    [outerStrokeGradient]="true"
    [percent]="50"
    [radius]="60"
    [outerStrokeWidth]="10"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="10"
    [outerStrokeColor]="'#b91817'"
    [outerStrokeGradientStopColor]="'#981914'"
    [innerStrokeColor]="'#333333'"
    [animation]="true"
    [animationDuration]="3000"
  ></circle-progress>
  <circle-progress
    [space]="-10"
    [showTitle]="false"
    [showUnits]="false"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [imageSrc]="'../../../assets/resource porfolio/logos de lenguajes/nodejs.png'"
    [showSubtitle]="false"
    [outerStrokeGradient]="true"
    [percent]="50"
    [radius]="60"
    [outerStrokeWidth]="10"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="10"
    [outerStrokeColor]="'#b91817'"
    [outerStrokeGradientStopColor]="'#981914'"
    [innerStrokeColor]="'#333333'"
    [animation]="true"
    [animationDuration]="3000"
  ></circle-progress>
  <circle-progress
    [space]="-10"
    [showTitle]="false"
    [showUnits]="false"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [imageSrc]="'../../../assets/resource porfolio/logos de lenguajes/nodejs.png'"
    [showSubtitle]="false"
    [outerStrokeGradient]="true"
    [percent]="50"
    [radius]="60"
    [outerStrokeWidth]="10"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="10"
    [outerStrokeColor]="'#b91817'"
    [outerStrokeGradientStopColor]="'#981914'"
    [innerStrokeColor]="'#333333'"
    [animation]="true"
    [animationDuration]="3000"
  ></circle-progress>
  <circle-progress
    [space]="-10"
    [showTitle]="false"
    [showUnits]="false"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [imageSrc]="'../../../assets/resource porfolio/logos de lenguajes/nodejs.png'"
    [showSubtitle]="false"
    [outerStrokeGradient]="true"
    [percent]="50"
    [radius]="60"
    [outerStrokeWidth]="10"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="10"
    [outerStrokeColor]="'#b91817'"
    [outerStrokeGradientStopColor]="'#981914'"
    [innerStrokeColor]="'#333333'"
    [animation]="true"
    [animationDuration]="3000"
  ></circle-progress>




    </div>
    




</div>
