*{
    font-family: 'Roboto', sans-serif;
    color: white;
}

.pencil
{
    width: 25px;
}
.btn-primary {
   
    margin: 50px;
    padding: 10px;
    background: #981914;
    border: none;
    color: white;
    font-size: 20px;
    /* pointer-events: none; */
    cursor: pointer;
  
  }



  .edit{
    border-radius: 10%;
    padding: 3px;
    display: flex;
    align-items: center;
    background-color: #77dd77;
    
}
b{
    color: black;
}



.cont-boton
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.delete{

    border-radius: 10%;
    padding: 3px;
    display: flex;
    align-items: center;
    background-color:#ff6961;
}

#contenedordexp
{
    
       background-color: #3333;
        color: #ffff;
        text-align: center;
        padding: 20px;
       
}




h3{
    
    border-radius: 0px 50px 0px 50px;
    text-align: center;
    display: inline-block;
    background-color: #981914;
}


.periodo
{
    margin-top: 10px;
}


.container{

    background-color: #3333;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container .card{
    width: 200px;
    height: 350px;
    border-radius: 30px;
    
    box-shadow: 1px 2px 2px 2px #981914;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}



.container .card img{
    width: 100%;
    height: auto;
}


.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}



.img-boton
{
    width: 25px;
    height: 25px;
}