<section class="form-contact">
  
    <div class="div-img"><img  class="img-carga" src="{{imagen[0]}}" ></div>
    <header>
      <span>

        
        <div class="btn-upload">

            
        
            <input type="file" accept=".bmp, .gif , .jpg, .tif, .png, .jpeg" (change)="cargarImagen($event)" 
            id="urlimg">
            <label for="urlimg" class="labelInputFile"> <img src="../../../assets/resource porfolio/Logos proyecto/upload.png" alt="upload file"> </label>
    
        </div>
       
      </span>
    </header>

    <form (ngSubmit)="onCreate()" novalidate #f="ngForm" class="contact">
      <label for="nombres">Nombre</label>
      <input type="text"
      class="form-control"
      name="nombreE"
      id="nombreE"
      #input1
      (keyup)="getValue(input1.value)"
      [(ngModel)]="nombreE" 
    
      required>
    
      <label for="mensaje">Descripcion de Experiencia</label>
      <textarea type="text"
      class="form-control"
      name="descripcionE"
      id="descripcionE"
      #input2
      (keyup)="getValue2(input2.value)"
      [(ngModel)]="descripcionE" 
      required></textarea>
     <div> <button class="btn-primary" [disabled]="loading" (click)="subir()"  >{{(loading)? 'Eperando...': 'Agregar experiencia'}}</button></div>
     

    </form>

    
  </section>