<div id="contenedordeedu">
  <h3>EDUCACION</h3>

  <div class="container">
    <div class="card">
      <img
        src="../../../assets/resource porfolio/logos de lenguajes/logo angular.png"
      />
      <h4>Naturaleza</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi
        unde?
      </p>
      <p class="periodo">PERIODO</p>
    </div>

    <div class="card">
      <img
        src="../../../assets/resource porfolio/logos de lenguajes/logo angular.png"
      />
      <h4>Comida</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi
        unde?
      </p>

      <p class="periodo">PERIODO</p>
    </div>

    <div class="card">
      <img
        src="../../../assets/resource porfolio/logos de lenguajes/logo angular.png"
      />
      <h4>Tecnología</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi
        unde?
      </p>
      <p class="periodo">PERIODO</p>
    </div>
  </div>
</div>
