<section class="form-contact">
  
    <div class="div-img"><img  class="img-carga" src="{{imagen[0]}}" ></div>
    <header>
      <span>

        
        <div class="btn-upload">

            
        
            <input type="file" accept=".bmp, .gif , .jpg, .tif, .png, .jpeg" (change)="cargarImagen($event)" 
            id="urlimg">
            <label for="urlimg" class="labelInputFile"> <img src="../../../assets/resource porfolio/Logos proyecto/upload.png" alt="upload file"> </label>
    
        </div>
       
      </span>
    </header>

    <form (ngSubmit)="onCreate()" novalidate #f="ngForm" class="contact">
      <label for="nombres">Nombre de Educación</label>
      <input type="text"
      class="form-control"
      name="nombreEdu"
      id="nombreEdu"
      #input1
      (keyup)="getValue(input1.value)"
      [(ngModel)]="nombreEdu" 
    
      required>
    
      <label for="mensaje">Descripción de Educación</label>
      <textarea type="text"
      class="form-control"
      name="descripcionEdu"
      id="descripcionEdu"
      #input2
      (keyup)="getValue2(input2.value)"
      [(ngModel)]="descripcionEdu" 
      required></textarea>

      <label for="periodos">Egreso</label>
      <input type="text"
      class="form-control"
      name="periodo"
      id="periodo"
      #input3
      (keyup)="getValue3(input3.value)"
      [(ngModel)]="periodo" 
    
      required>

     <div> <button class="btn-primary" [disabled]="loading" (click)="subir()"  >{{(loading)? 'Eperando...': 'Agregar Educación'}}</button></div>
     

    </form>

    
  </section>